<% if flash[:error] %>
  <div class="messages error">
    <ul>
      <% flash[:error].each do |error| %>
        <li><%= error%></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="messages notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:success] %>
  <div class="messages success"><%= flash[:success] %></div>
<% end %>
